/* Common */

body {
  background: #f8f9fa;
}

.section .container .btn-align {
  text-align: center !important;
}

a {
  text-decoration: none;
}

/* Common end */

/* Header */

header .container {
    padding: 0px;
}

header .container .nav-title {
  font-size: 30px;
  padding-right: 24px;
}

header .container .text-font {
  font-size: 16px;
  font-weight: 600;
  padding-top: 12px;
  margin: 4px;
}
/* Header end */

/* Section */

.section {
  position : relative;
}


.section .top-tag {
  background:  #f8f9fa;
  margin: 10px 0px 10px 0px;
  border-bottom: 2px solid lightgray;
}

.top-tag .tag-layout {
  font-size: 13px;
  font-weight: 700;
  border-bottom: 2px solid;
  padding-bottom: 1.5px;
  margin: 0px;
}

.top-tag .tag-margin {
  height: 18px;
  width: 100px;
  background: white;

}

.label-area {
  text-align: left;
}

.section .find-box {
  padding:30px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 180px;
}

.find-box .explain-text {
  font-size: 12px;
  font-weight: 600;
}

.section .input-label {
  font-size: 11px;
  font-weight: 600;
}

.section .input-box {
  width: 180px;
  height: 22px;
  display: inline-block;
  margin: 5px;
  font-size: 11px;
}

.section .input-box-layout {
  margin: 16px 0px 0px 15px;
}

.section .next-btn-layout {
  text-align: center;
  margin: 10px 10px 20px 10px;
}

.next-btn-layout .next-btn {
  font-size: 12px;
  height: 29px;
}
/* Section end */

/* Footer */

.section .copy-right {
    padding : 15px 0;
    border-top : 1px solid #eee;
    color : #b2b2b2;
    display: block;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
}

/* Footer end */
