/* Common */

body {
  background: #f8f9fa;
}

.section .container .btn-align {
  text-align: center !important;
}

a {
  text-decoration: none;
}

/* Common end */

/* Header */

header .container {
    padding: 0px;
}

header .container .nav-title {
  font-size: 30px;
  padding-right: 24px;
}

header .container .text-font {
  font-size: 16px;
  font-weight: 600;
  padding-top: 12px;
  margin: 4px;
}
/* Header end */

/* Section */

.section {
  background: white;
}

.section .container {
  text-align: center;
}

.section .container h2 {
  border-bottom: solid;
  border-width: thin;
  padding: 16px;
  margin: 16px;
}

.section .container .top-info {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
}

.top-info p {
  font-size: 22px;
  font-weight: 700;
  margin: 0px;
}

.container .step-layout {
  padding: 40px;
  padding-bottom: 20px;
}

.container .step-layout a {
  padding: 15px;
}

.radius {
background-color:#9999;
width:100px;
height:100px;
border-radius:50px;
text-align:center;
margin:0 auto;
font-size:18px;
font-weight: 600;
color: white;
vertical-align:middle;
line-height:100px;
display: inline-block;
}

.input-form .input-info {
  text-align:left;
  font-size:21px;
  font-weight:600;
  margin-bottom:10px;
}

.input-form th {
  background:#f8f9fa !important;
  font-size: 17px;
  font-weight: 600 !important;
  width: 180px;
  height: 60px;
  text-align: left;
  vertical-align: middle;
}

.input-form .red-star {
  color:red !important;
  padding-right:4px;
}

.input-form td {
  padding-left: 22px;
  text-align: left;
  vertical-align: middle;
}

.input-form .post-margin {
  margin: 6px;
}

.input-form .submit-button {
  background:#1E90FF;
  width:210px;
  height:70px;
  font-size:20px;
  text-align:center;
  font-weight:800;
  border:none;
  color:white;
  margin-bottom:24px;
}

/* Section end */

/* Footer */

.section .copy-right {
    padding : 15px 0;
    border-top : 1px solid #eee;
    color : #b2b2b2;
    display: block;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
}

/* Footer end */
