/* Common */

body {
  background: #f8f9fa;
}

.section .container .btn-align {
  text-align: center !important;
}

a {
  text-decoration: none;
}

/* Common end */

/* Header */

header .container {
    padding: 0px;
}

header .container .nav-title {
  font-size: 30px;
  padding-right: 24px;
}

header .container .text-font {
  font-size: 16px;
  font-weight: 600;
  padding-top: 12px;
  margin: 4px;
}
/* Header end */

/* Section */

.section {
  position : relative;
}

.section .main-brand {
  text-align: center;
}

.section .main-brand h1 {
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section .text-layout {
  font-size: 14px;
  font-weight: 700;
  padding-bottom:4px;
}

.section .input-layout {
  text-align: left;
}

.section .input-size {
  width:100%;
  height: 55px;
  padding-left: 16px;
}

.section .input-size-30 {
  width:32%;
  height: 50px;
  margin: 1px 0px 1px 0px;
  padding-left: 12px;
}

.section .input-size-35 {
  width:36%;
  margin-left: 7px;
  height: 55px;
  padding-left: 16px;
}


.section .input-size-50 {
  width:48.8%;
  height: 50px;
  margin: 1px 0px 1px 0px;
  padding-left: 12px;
}

#major-selector {
  padding: 0px 0px 0px 12px;
  display:inline;
  border-radius:0px;
  border:0.1px solid #999;
}

#major-detail {
  padding: 0px 0px 0px 12px;
  display:inline;
  border-radius:0px;
  border:0.1px solid #999;
  margin-left: 6px;
}

.section .set-layout {
  margin-bottom: 14px;
}

.section .input-size-75 {
  width:73.4%;
  height: 50px;
  margin: 1px 0px 1px 0px;
  padding-left: 12px;
}

.section .phone-button {
  height: 50px;
  color: white;
  background: #00BFFF;
  border: none;
  margin-left: 8px;
}

.section .phone-layout {
  margin-bottom: 16px;
}

.section .signup-layout {
  margin-top: 30px;
}

.signup-layout button {
  background: #00BFFF;
  border: none;
  color: white;
  font-size:20px;
  font-weight: 700;
}


.form-warning {
  float:right;
  font-size: 13px;
  color: red;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}



/* Section end */

/* Footer */

.section .copy-right {
    padding : 15px 0;
    border-top : 1px solid #eee;
    color : #b2b2b2;
    display: block;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
}

/* Footer end */
